.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: var(--width-wrapper);
	margin: auto;
	padding-top: 80px;
	overflow: hidden;
}

.tag-container {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.tag {
	display: block;
	border-radius: 20px;
	background-color: var(--color-addition2);
	opacity: 0.5;
	padding: 6px;
	font-size: 1.5rem;
	padding: 10px;
	margin: 10px;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
}

.experience-btn {
	width: 200px;
	height: 50px;
	color: white;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 25px;
	border: none;
	background-color: #666;
	margin: auto;
	margin-top: 20px;
	cursor: pointer;
}

.experience-btn:hover {
	background: #a0a0a0;
}

.hide {
	display: none;
}