.header{
	background-color: var(--color-primary)
}

.logo-container{
	display: flex;
	justify-content: space-between;
    align-items: center;
	gap: 10px;
	cursor: pointer;
}

.header__navigation{
	width: 50%;
	padding: 10px 0;
}

.navigation{
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.navigation__link{
	list-style: none;
	cursor: pointer;
	font-size: 2.0rem;
	font-family: var(--font-family-heading);
	color: var(--color-text-header);
	border-bottom: 3px solid var(--color-primary);
	padding-bottom: 3px;
}

.navigation__link:hover{
	color: var(--color-addition);
}

.navigation__link_active{
	color: var(--color-text-active);
	border-bottom-color: var(--color-addition);	
}