.header {
	background-color: var(--color-primary);
	position: fixed;
	height: 130px;
	width: 100%;
	z-index: 1000;
}

.header>.wrapper {
	padding-top: 20px;
	justify-content: space-around;
}

.logo-container {
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.logo-img {
	max-width: 80px;
	max-height: 80px;
}

.header__navigation {
	width: 70%;
	padding: 10px 0;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.navigation__link {
	list-style: none;
	cursor: pointer;
	font-size: 2.5rem;
	font-family: var(--font-family-heading);
	color: var(--color-text-header);
	padding-bottom: 3px;
}

.navigation__link:hover {
	color: var(--color-addition);
}

.navigation__link_active {
	color: var(--color-addition);
	border-bottom-color: var(--color-addition);
}