.about {
    background-image: url("../assets/images/bg-about.jpg");
    padding-top: 100px;
}

.my-banner {
    width: 100%;
    height: 640px;
    border-radius: 50px;
    background-image: url("../assets/images/MyPhoto.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 -120px 50px 0 black inset;
}

.my-banner-description {
    position: relative;
    top: -80px;
    margin: 0;
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

h3>a {
    text-decoration: underline;
    color: var(--color-violet);
}

.description-about {
    margin-top: -30px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.experience {
    background-image: url("../assets/images/bg-experience-2.jpg");
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 2.5rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.card_link {
    display: block;
    font-weight: bold;
    color: var(--color-violet);
    margin: 0;
    padding-top: 20px;
    font-size: 3rem;
}

.card_img {
    width: 25%;
    min-height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card_img>a {
    display: flex;
    align-items: center;
}

.card_img>a>img {
    border-radius: 20px;
}

.card_content {
    width: 70%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 15px;
}

.card_work-period {
    padding-top: 10px;
    color: var(--color-addition2);
}

.card_work {
    font-weight: bold;
    color: black;
    padding-top: 10px;
}

.card_work>li::before {
    content: "\2B24";
    font-size: 1.5rem;
    margin-right: 10px;
}

.achievements {
    background-image: url("../assets/images/bg-achievements-1.jpg");
}

.marker-constructor {
    background: url("../assets/icons/icon-marker-dividers.png") no-repeat left center;
}

.marker-university {
    background: url("../assets/icons/icon-marker-university.png") no-repeat left center;
}

.marker-qc {
    background: url("../assets/icons/icon-marker-qc.png") no-repeat left center;
}

.marker-auto {
    background: url("../assets/icons/icon-marker-auto.png") no-repeat left center;
}

.marker-geely {
    background: url("../assets/icons/icon-marker-geely.png") no-repeat left center;
}

.achievements-list>li {
    background-size: contain;
    height: 80px;
    padding-left: 100px;
    margin: 20px 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text-active);
    text-shadow: 1px 1px 1px #000;
    display: flex;
    align-items: center;
}

.achievements-list>li>a {
    text-decoration: underline;
    color: wheat;
}

.img-position {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.achievements-img {
    width: 32%;
    min-width: 240px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}

.achievements-img:hover {
    transform: scale(1.5);
}

.portfolio {
    background-image: url("../assets/images/bg-portfolio.jpg");
}

.portfolio-card {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    padding-bottom: 20px;
    transition: all 1s;
    position: relative;
}

.portfolio-card_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
}

.portfolio-card_img>img {
    max-height: 500px;
    max-width: 45%;
    border-radius: 20px;
    overflow: hidden;
}

.portfolio-card_text {
    width: 80%;
    text-align: center;
    margin: 10px;
}

.arrow {
    position: absolute;
    width: 64px;
    top: 250px;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.5;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.go-top {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 64px;
    z-index: 1100;
}

.go-top:hover {
    opacity: 0.5;
}

@media(max-width: 700px) {
    .portfolio-card {
        height: 450px
    }

    .portfolio-card_img>img {
        max-height: 380px;
    }

    .arrow {
        top: 200px;
        width: 40px;
    }

    .achievements-list>li {
        height: 60px;
        padding-left: 80px;
        margin: 20px 0;
        font-weight: 400;
    }

    h1 {
        display: none;
    }
}

@media(max-width: 550px) {
    .portfolio-card {
        height: 400px
    }

    .portfolio-card_img>img {
        max-height: 300px;
    }

    .arrow {
        top: 200px;
        width: 40px;
    }
}