.about {
    background-color: var(--color-silver);
    padding-top: 50px;
    padding-bottom: 50px;
}

.my-banner {
    width: 100%;
    height: 640px;
    border-radius: 50px;
    background-image: url("../assets/images/MyPhoto.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 -120px 50px 0 black inset;
}

.my-banner-description {
    position: relative;
    top: -80px;
    margin: 0;
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

h3>a {
    text-decoration: underline;
    color: var(--color-violet);
}

.experience {
    background-image: url("../assets/images/bg-experience.jpg");
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-size: 2.5rem;
}

.card {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.card_link {
    display: block;
    font-weight: bold;
    color: var(--color-violet);
    margin: 0;
    padding-top: 20px;
    font-size: 3rem;
}

.card_img {
    width: 25%;
    min-height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card_img>a {
    display: flex;
    align-items: center;
}

.card_img>a>img {
    border-radius: 20px;
}

.card_content {
    width: 70%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 15px;
}

.card_work-period {
    padding-top: 10px;
    color: var(--color-addition2);
}

.card_work {
    font-weight: bold;
    color: black;
    padding-top: 10px;
}

.card_work>li::before {
    content: "\2B24";
    font-size: 1.5rem;
    margin-right: 10px;
}

.achievements {
    background-image: url("../assets/images/bg-achievements.jpg");
}

.marker-constructor {
    background: url("../assets/icons/icon-marker-dividers .png") no-repeat left center;
}

.marker-university {
    background: url("../assets/icons/icon-marker-university.png") no-repeat left center;
}

.marker-qc {
    background: url("../assets/icons/icon-marker-qc.png") no-repeat left center;
}

.marker-auto {
    background: url("../assets/icons/icon-marker-auto.png") no-repeat left center;
}

.marker-geely {
    background: url("../assets/icons/icon-marker-geely.png") no-repeat left center;
}

.achievements-list>li {
    background-size: contain;
    padding-left: 70px;
    margin: 20px 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-text-active);
    text-shadow: 1px 1px 1px #000;
}

.achievements-list>li>a {
    text-decoration: underline;
    color: wheat;
}

.img-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.achievements-img {
    width: 32%;
    min-width: 240px;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}

.achievements-img:hover {
    transform: scale(2);
}