.about{
    background: linear-gradient(to bottom, var(--color-primary), var(--color-addition2));
}

.about-wrapper{
    padding: 50px 0;
    gap: 10px;
}

.about__photo{
    height: 200px;
    background-image: url("../assets/images/programm-1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
    flex-grow: 1;
}

.about__content{
    border: 2px solid var(--color-primary);
    border-radius: 10px; 
    height: 200px;
    flex-grow: 2;
}